/* 
    Document   : bitcoin_tips
    Created on : 15.9.2013, 17:02:07
    Author     : ihqtzup
    Description:
        Purpose of the stylesheet follows.
*/

#bitcoin_tips{
    border: solid 1px silver;
    padding: 18px;
}

/*Left block contains QR-code and stats elements*/
#bitcoin_tips_left_block{
    width: 23%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

#bitcoin_tips_stats{
    font-size: 0.8em;
}

/*right block contains title, bitcoin URI, description and poweredby elements*/
#bitcoin_tips_right_block{
    width: 73%;
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
}

#bitcoin_tips_title{
    color: #cb7017
}

#bitcoin_tips_uri{
    margin-bottom: 20px !important;
}

#bitcoin_tips_description{
    
}

#bitcoin_tips_poweredby{
    width: 100%;
    display: inline-block;
    text-align: right;
    
    color: silver;
    font-size: 12px;
}